*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #000000;
	color: #ffffff;	
}

.jumbotron{
	color: black;
	margin: 15px;
	padding: 20px;
}

.newsletter{
	width: 100%;
	padding-top: 10px;
}

.newsletter input{
	width: 30%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.button{
	padding-top: 10px;
}

.subBtn{
	border: none;
  	color: white;
  	padding: 15px 32px;
 	text-align: center;
  	text-decoration: none;
  	display: inline-block;
	font-size: 16px;
	background-color: grey;  
	outline: none;
}

.column
{
	column-gap: 20px;
	column-fill: balance;
	-ms-grid-column-align: center;
	width: 40%;
	height: 70%;
	table-layout: fixed;
	text-align: center;
	padding-top: 80px;
	justify-content: center;
}
