*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: #000000;
	color: #ffffff;	
}

li{
	list-style: none;
}

button{
	cursor: pointer;
}

.filter{
	width: 100px;
	padding: 16px;
	font-size: 16px;
	border: none;
	border-radius: 20px;
	background:inherit
}

.dropdown{
	display: inline-block;
}

.dropdownContent{
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	background-color: lightgrey;
	border-radius: 20px;
}

.dropdownContent a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border-radius: 20px;
}

.dropdownContent a:hover{
	background-color: #fff;
}

.dropdown:hover .dropdownContent{
	display: block;
}



.jumbotron{
	color: black;
	margin: 15px;
	padding: 20px;
}

.newsletter{
	width: 100%;
	padding-top: 10px;
}

.newsletter input{
	width: 30%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.button{
	padding: 20px;
	margin:20px;
}

.column
{
	column-gap: 20px;
	column-fill: balance;
	-ms-grid-column-align: center;
	width: 40%;
	height: 70%;
	table-layout: fixed;
	text-align: center;
	padding-top: 80px;
	justify-content: center;
}

.inputs{
	height: 350px;
	width: 400px;
	background: grey;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
	align-items: center;
	padding: 50px;

	border-radius: 5px;
}

.inputs input{
	border: none;
	border-bottom: 1px solid black;
	background: transparent;
	outline: none;
	height: 40px;
	width: 200px;
	color: purple;
	cursor: pointer;
	margin-left: 20px;
	margin-right: 20px;
}

.inputs p{
	margin-left: 20px;
	padding-bottom: 30px;
}
/* Dropdown Button */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


.rating
{
	  position: absolute;
	  left:28%;
	  top:30%;
	  transform: translate(-50%,-50%) rotateY(180deg);
	  display: flex;
}

.rating input
{
	  display: none;
}

.rating label
{
	  display: block;
	  cursor: pointer;
	  width: 50px;
}

.rating label:before
{
	content: '\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 50px;
	color: white;
}

.rating label:after
{
	content: '\f005';
	font-family: fontAwesome;
	position: absolute;
	display: block;
	font-size: 50px;
	color: #1f9cff;
	top:0;
	opacity: 0;
	transition: .5s;
	/* text-shadow: 0 2px 5px rgba(0,0,0,.5); */
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
	opacity: 1;
}
